body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

section {
  padding: 15px;
}

header {
  text-align: center;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #2ea9b6;
  transition: all 500ms ease;
}

a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}

header, .my-mission, .experience {
  background: white;
}

.who-i-am img, .my-mission img, .contact-me img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
  max-width: 500px;
}

p {
  color: #939393;
}

.main-p {
  font-size: 18px;
}

.sub-p {
  font-size: 14px;
}

.who-i-am, .meet-me {
  background: #efefef;
}

.meet-me p {
  text-align: center;
}

.tile-row-container {
  max-width: 500px;
  margin: 0 auto;
}

.tile-row {
  display:flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.love-working-here-quote, .meet-me img {
  display: flex;
  width: 175px;
  height: 200px;
}

.love-working-here-quote {
  background-color: #7a7a77;
  text-align: center;
  overflow: scroll;
}

.love-working-here-quote p {
  /* display: flex;
  justify-content: center;
  align-content: center; */
  margin-top: 60px;
  color: #c3c3c3;
  padding: 5px;
}

.companies-list, .education-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company-logo, .school {
  margin: 5px auto;
}

.company-logo img {
  width: 400px;
  height: auto;
}

.school img {
  width: auto;
  height: 150px;
}

.experience {

}

.contact-me-hr {
  margin: 0 5px;
  /* width: 100%; */
  /* height: 4px; */
  /* border-top: 4px solid #ebecee; */
  border: 2px solid #ebecee;

}

h2 {
  color: #2ea9b6;
  font-weight: 400;
}

/* a::selection {
  background: #b3d4fc;
  text-shadow: none;
} */