body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

header, .my-mission, .experience {
  background: white;
}

.who-i-am, .meet-me {
  background: #efefef;
}

.experience {

}

.contact-me-hr {
  margin: 0 5px;
  /* width: 100%; */
  /* height: 4px; */
  /* border-top: 4px solid #ebecee; */
  border: 2px solid #ebecee;

}

h2 {
  color: #2ea9b6;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}